.as1Container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}

.as1 {
    /* margin: 1rem 2rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.as1Box1 {
    position: relative;
    max-width: 40vw;
    overflow: hidden;
    border-radius: 30px;
    background-color: yellow;

}

.as1Img {
    text-align: center;
    min-width: 35vw;
    /* height: 100%; */
    overflow: hidden;
    border: 16px solid yellow;
    max-height: 84vh;
    border-radius: 50px;

}

.as1Img img {
    width: 40vw;
    border-radius: 20px;
}

.asiBox2 {
    width: 32vw;
}

.asiTitle {
    display: inline;
    font-size: 1.5rem;
    border: 4px solid yellow;
    padding: 5px 15px;
    border-radius: 25px;
}

.asiHeading {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.2rem;
}

.asiDesc {
    color: grey;
    font-size: 1.5rem;
}

.asiIcons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    /* flex-wrap: wrap; */
}

.asiIconStyle {
    min-width: 3rem;
    font-size: 3.6rem;
    padding: 20px 20px;
    background-color: black;
    color: yellow;
    border-radius: 10px;
}

.asiIconText {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
}

.asiButton {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 16px 30px;
    border-radius: 30px;

    background: linear-gradient(to right, black 50%, yellow 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    cursor: pointer;
    border: 1px solid yellow;

}

.asiButton:hover {
    background-position: left bottom;
    color: yellow;
}

@media (max-width:950px) {
    .as1 {
        flex-direction: column;
        gap: 2rem;
    }

    .as1Box1 {
        max-width: 90vw;
        overflow: hidden;
        border-radius: 30px;
        background-color: yellow;

    }

    .as1Img {
        text-align: center;
        min-width: 80vw;
        overflow: hidden;
        border: 16px solid yellow;
        max-height: 40vh;
        border-radius: 50px;

    }

    .as1Img img {
        width: 80vw;
        border-radius: 20px;
    }

    .asiIconStyle {
        font-size: 3.6rem;
        padding: 20px 6px;
    }

    .asiBox2 {
        width: 90vw;
    }

    .asiHeading {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .asiIcons {
        width: 80vw;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .asiIconText {
        font-size: 0.8rem;
        text-align: center;
        font-weight: 700;
    }

    .asiIcon {
        text-align: center;
    }

}