.blogCarouselContainer {
    width: 98vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
}

.blogCarouselBox {
    width: 87vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow-x: scroll;
    gap: 2rem;
}

.blogCarouselBox::-webkit-scrollbar {
    display: none;
}
@media (max-width:414px) {

    .blogCarouselContainer {
        height: 70vh;
    }
}